data/morphosyntactic_values filter=lfs diff=lfs merge=lfs -text
data/perturbations filter=lfs diff=lfs merge=lfs -text
data/README.md filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/english/ filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/english/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/english/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/french/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/french/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/french/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/german/case.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/german/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/german/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/german/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/russian/case.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/russian/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/russian/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_features/russian/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/russian/case.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/russian/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/russian/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/russian/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/french/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/french/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/french/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/german/case.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/german/gender.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/german/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/german/person.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/english/number.tsv filter=lfs diff=lfs merge=lfs -text
data/morphosyntactic_values/english/person.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/english/subj_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/english/verb_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/english/article.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/english/deixis.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/english/stopwords.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/verb_person.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/stopwords.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/subj_case.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/subj_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/verb_gender.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/russian/verb_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/french/article.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/french/stopwords.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/french/subj_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/french/verb_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/german/article.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/german/deixis.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/german/stopwords.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/german/subj_number.tsv filter=lfs diff=lfs merge=lfs -text
data/perturbations/german/verb_number.tsv filter=lfs diff=lfs merge=lfs -text
